@import url("themes/gruvbox-light.css");

@define-color bgnd @bg;
@define-color cpuc @purple;
@define-color mmry @blue;
@define-color disk @aqua;
@define-color adio @purple;
@define-color idle @blue;
@define-color bklt @yellow;
@define-color wifi @orange;
@define-color dstr @green;
@define-color blth @green;
@define-color uptm @blue;
@define-color clck @fg;
@define-color sptr @bg;
@define-color hl @purple;

@define-color bat1 @green;
@define-color bat2 @aqua;
@define-color bat3 @yellow;
@define-color bat4 @orange;
@define-color bat5 @red;
