include "animations.kdl"
include "binds.kdl"
include "input.kdl"
include "layerrule.kdl"
include "layout.kdl"
include "themeing.kdl"
include "overview.kdl"
include "rules.kdl"
include "screenshot.kdl"
include "startup.kdl"
include "window-rules.kdl"
include "outputs.kdl"
