input {
    keyboard {
        xkb {
            options "caps:escape"
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {

    }
    trackpoint {

    }
    focus-follows-mouse
}
