@import 'colors.css';
@import 'accent.css';

* {
    font-family: "JetBrainsMonoNL Nerd Font";
 }

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: @text;
}

#workspaces {
  padding: 0;
  margin: 5px 0 0 0;
  background: transparent;
  border: none;
}

#workspaces button {
  padding: 0 5px;
  transition: all 0.3s ease-in-out;
  min-width: 20px;
  border-radius: 15px;
  border: solid @hl 1px;
  background: @bgnd;
  color: @clck;
  margin: 0 2px;
}

#workspaces button:hover {
  transition: all 0.3s ease-in-out;
  border-color: @hl;
}

#workspaces button.active,
#workspaces button.active:hover {
  transition: all 0.3s ease-in-out;
  min-width: 40px;
  border-color: @hl;
  border-width: 2px;
}

#pulseaudio {
  color: @adio;
}

#custom-lock,
#custom-reboot,
#custom-power,
#custom-quit {
  color: @clck;
}
#memory {
  color: @mmry;
}

#cpu {
  color: @cpuc;
}

#idle_inhibitor {
  color: @idle;
}

#custom-uptime {
  color: @uptm
}

#custom-distro {
  color: @dstr;
}

#disk {
  color: @disk;
}

#battery.great {
  color: @bat1;
}

#battery.good {
  color: @bat2;
}

#battery.ok {
  color: @bat3;
}

#battery.bad {
  color: @bat4;
}

#battery.terrible {
  color: @bat5;
}

#bluetooth {
  color: @blth;
}

#network {
  color: @wifi;
}

#backlight {
  color: @bglt;
}

#clock {
  color: @clck;
}

#clock,
#system,
#utils,
#power,
#idle_inhibitor,
#custom-wallpaper,
#custom-distro,
#custom-uptime {
  padding: 5px 10px;
  margin: 5px 5px 0 5px;
  transition: all 0.3s ease-in-out;
  background: @bgnd;
  border-radius: 15px;
  border: solid @hl 1px;
  font-size: 16px;
}
#clock:hover,
#system:hover,
#utils:hover,
#power:hover,
#idle_inhibitor:hover,
#custom-wallpaper:hover,
#custom-distro:hover,
#custom-uptime:hover{
  border: solid @hl 1px;
  transition: all 0.3s ease-in-out;
}

