
@define-color cyan     #00ffff;
@define-color grey     #888888;
@define-color yellow   #ffff00;
@define-color green    #00ff00;
@define-color magenta  #ff00ff;
@define-color blue     #0000ff;
@define-color red      #ff0000;
@define-color bg       #000000;
@define-color fg       #ffffff;
